RewriteEngine on
RewriteCond $1 !^(index\.php|public|\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1

php_value max_input_vars 10000
php_value suhosin.post.max_vars 10000
php_value suhosin.request.max_vars 10000